.loading-dots {
  display: inline-flex;
  gap: 6px;
  align-items: center;
}

.loading-dots-small {
  gap: 4px;
}

.loading-dots-large {
  gap: 8px;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.2s infinite ease-in-out;
}

.loading-dots-small .dot {
  width: 8px;
  height: 8px;
}

.loading-dots-medium .dot {
  width: 10px;
  height: 10px;
}

.loading-dots-large .dot {
  width: 12px;
  height: 12px;
}

.dot.dark-theme {
  background-color: #ffffff; /* White for dark theme */
}

.dot.light-theme {
  background-color: #333333; /* Dark for light theme */
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}